.onboarding form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.onboarding form section {
  display: flex;
  flex-direction: column;
  padding: 1vw 3vw;
  width: 30vw;
  text-align: start;
}

.onboarding form input {
  padding: 15px 30px;
  margin: 10px 0;
  font-size: 15px;
  border: solid 2px rgb(219, 219, 219);
  border-radius: 10px;
}

.onboarding form input::-webkit-outer-spin-button,
.onboarding form input::-webkit-inner-spin-button {
  -webki-appearance: none;
  margin: 0;
}

.onboarding form label {
  margin: 10px 0;
}

.onboarding form .multiple-input-container {
  display: flex;
}

.onboarding form .multiple-input-container input {
  margin-right: 10px;
}

.onboarding form .multiple-input-container label {
  padding: 10px;
  border: solid 2px rgb(144, 144, 144);
  border-radius: 10px;
  transition: all 0.3s;
  margin-right: 10px;
}

.onboarding form .multiple-input-container input[type="radio"] {
  display: none;
}

.onboarding form input[type="radio"]:checked + label {
  border: solid 2px rgb(221, 39, 22);
}

.onboarding form input[type="number"] {
  width: 10%;
}

.onboarding form input[type="submit"]:active {
  background: linear-gradient(45deg, rgb(254, 48, 114), rgb(255, 89, 64));
  color: white;
}

.onboarding section .photo-container img {
  width: 100%;
  height: 80%;
}

@media only screen and (max-width: 600px) {
  .onboarding form {
    font-size: 3vw;
  }
  .onboarding form section {
    display: flex;
    flex-direction: column;
    width: 70vw;
    text-align: start;
  }

  .onboarding form input {
    padding: 3vw;
    margin: 2vh 0;
    font-size: 3vw;
    border: solid 2px rgb(219, 219, 219);
    border-radius: 10px;
  }

  .onboarding form label {
    margin: 1vh 0;
  }

  .onboarding form .multiple-input-container input {
    margin-right: 10px;
  }

  .onboarding form input[type="number"] {
    width: 60%;
  }
  .onboarding section .photo-container img {
    width: 100%;
    height: 95%;
  }
}
